.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 800px;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: #444444;
}

.App {
  margin: 50px;
  background:
    conic-gradient(#444444 0 0) padding-box,
    linear-gradient(to bottom, rgb(244, 255, 97), rgb(255, 85, 142)) border-box;
  padding: 40px;
  border: 10px solid transparent;
  border-radius: 20px;
  color: aliceblue
}

p {
  font-weight: bold;
}